%section#dashboard
  %header
    %h1 Dashboard
    #new_signup
      = link_to [:new, :form] do
        %button.blue New Signup

  %article#published
    %h2 Published Signups
    - published.each do |form|
      %li
        = form.name
        [
        = succeed "," do
          = link_to "edit", [:edit, form]
        = succeed "," do
          = link_to "view form", signup_path(form)
        = link_to "view signups", [form, :admin, :index]
        ]

  %article#drafted
    %h2 Drafts
    - drafts.each do |form|
      %li
        = form.name
        [
        = succeed "," do
          = link_to "edit", [:edit, form]
        = link_to "preview", form
        ]
