:css
  label {
    width: 130px
    }
  input {
    vertical-align: top
  }

%h2 Complete Your Signup

%br
= form_for @user, url: signups_path do |f|
  = hidden_field_tag :form_id, form.id
  - if slot
    %dl
      = label_tag "Slot:"
      = slot.name
      = hidden_field_tag :slot_id, slot.id

  %dl
    = f.label :name, "Name:"
    = f.text_field :name

  %dl
    = f.label :email, "Email:"
    = f.text_field :email
    = f.fields_for :field_infos do |f|
      = f.hidden_field :field_id
      %dl
        = f.label :info, f.object.field.name + ":"
        = f.text_field :info

  = label_tag nil
  = f.submit 'Signup', class: 'blue'

:javascript
  new LiveValidation('user_name').add( Validate.Presence, { failureMessage: "required" } );
  new LiveValidation('user_email').add( Validate.Presence, { failureMessage: "required" } );
  new LiveValidation('user_email').add( Validate.Email, { failureMessage: "must be valid" } );
