#info
  - if form.description.present?
    .item What
    .info= form.description
  - if form.has_when?
    .item When
    .info= form.when
  - if form.location.present?
    .item Where
    .info= form.location.capitalize

.clear
.line
- if form.slots.present?
  %table#slots
    %tr
      %th
        Slot
      %th
        Remaining Spots
      %th
    - form.ordered_slots.each do |slot|
      %tr
        %td= slot.name
        %td= slot.remaining
        %td
          - if slot.open?
            = link_to "Signup", new_signup_path(form, slot)
          - else
            .full Full

- else
  = link_to "Signup", new_signup_path(form)
