%article#signup
  %h2 Signup

  - if flash[:signup]
    .alert= flash[:signup]

  = form_for user do |f|

    %dl
      = f.label :name, "Name:"
      = f.text_field :name

    %dl
      = f.label :email, "Email:"
      = f.text_field :email

    %dl
      = f.label :password, "Choose a Password:"
      = f.password_field :password

    %dl
      = label_tag nil
      = f.submit "Sign up", class: 'green'
