%h2 Slots

If you need people to signup for specific slots then create them here. Otherwise
= link_to "continue.", [form, :fields]

= form_for form, url: form_update_slots_path(form) do |f|
  = f.hidden_field :continue
  - if form.slots.present?
    %table#slots
      %tr
        %th Slot Name
        %th Signups Allowed
        %th
      = f.fields_for :slots do |s|
        %tr
          %td= s.text_field :name
          %td= s.select :max, options_for_select(@max_options, s.object.max), class: 'slot_max'
          %td= link_to 'remove', slot_path(s.object), method: :delete

%article#new_custom_field
  = form_for form.slots.build do |f|
    %h3 Create slot
    %br
    = f.hidden_field :form_id, value: form.id
    = f.label :name, "Slot name:"
    = f.text_field :name, style: 'width: 170px'
    = f.label :required, "People allowed:"
    = f.select :max, @max_options
    %br
      = f.submit 'Create Slot', class: 'blue'

= render 'submit_buttons', saveable: form.slots.count > 0
