!!!
%html
  %head
    %title Signup Builder
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      #inside_header
        %nav
          - if current_user
            .user_info
              - if current_user.temporary?
                Signed in as Temporary User.
              - else
                Welcome #{current_user.name}.
            - if !current_user.temporary?
              = link_to "Account", current_user
            = link_to "Logout", :sign_out
          - else
            = link_to "Home", :root
            = link_to "Sign In", :sign_in
        = link_to :root do
          = image_tag 'logo.png'

    #container
      %section#main
        - if content_for(:nested_layout)
          = yield :nested_layout
        - else
          = yield
