= content_for :nested_layout do
  %section#new_signup
    %h1 Create a New Signup

    %nav
      - if form.persisted?
        = active_li_link_to 'Basic Info', [form, :basic_info]
        = active_li_link_to 'Slots', [form, :slots]
        = active_li_link_to 'Form Fields', [form, :fields]
        = active_li_link_to 'People', [form, :people]
        = active_li_link_to 'Preview', [form, :preview]
      - else
        .disabled_nav
          %li.selected= link_to 'Basic Info', '#'
          %li= link_to 'Slots', '#'
          %li= link_to 'Form Fields', '#'
          %li= link_to 'People', '#'
          %li= link_to 'Preview', '#'

    - if flash[:notice]
      .notice= flash[:notice]
    = yield

= render template: 'layouts/application'
